.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(206,17,38);
    background: linear-gradient(180deg, rgba(206,17,38,1) 0%, rgba(0,0,0,1) 100%);
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    z-index: 1000; /* Ensures it's above other content */
}

    .top-nav a {
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
        transition: color 0.3s ease;
    }

        .top-nav a:hover {
            color: #ffa500; /* Change color on hover */
        }