@inherits LayoutComponentBase
@using FormulaOneConnect.Client.Components

<div class="page">
    
    <Header></Header>

    <NavMenu />

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>